<div class="navBar">
  <div id="heading"><a routerLink="/">conduit</a></div>
<div class="links">
    <span>
        <a [routerLink]='["/home"]'>Home</a>
      </span>
  <span>
    <a *ngIf="!isAuthenticated" [routerLink]='["/login"]'>Sign in</a>
  </span>
  <span>
    <a *ngIf="!isAuthenticated" [routerLink]='["/signup"]'>Sign up</a>
  </span>
  <span>
      <a [routerLink]='["/settings"]' *ngIf="isAuthenticated">
      <i class="ion-gear-a"></i>&nbsp;Settings</a>
    </span>
  <span>
      <a [routerLink]='["/new"]' *ngIf="isAuthenticated">
        <i class="ion-compose">
        </i>&nbsp;New Articles</a>
  </span>
  <span class="nav-item">
    <a class="nav-link"
      [routerLink]="['/profiles', currentUser.username]"
      routerLinkActive="active">
      <img [src]="currentUser.image" *ngIf="currentUser.image" class="user-pic" />
      {{ currentUser.username }}
    </a>
  </span>

</div>
</div>