<div class="article-page">
  <div class="banner">
    <div class="container">
      <h1>{{ article.title }}</h1>
      <div class="article-meta">
        <img src="{{article.author.image}}" width="100px" class="rounded-circle">
        <div class="info">
          <a class="username" href="profiles/{{article.author.username}}">{{article.author.username}}</a>
          <p class="date ng-binding">{{article.createdAt | date: 'longDate'}}</p>
        </div>

        <span [hidden]="!canModify">
          <a class="btn btn-sm btn-light" href="update/{{article.slug}}">
            <i class="ion-edit"></i> Edit Article
          </a>
          &nbsp;
          <button class="btn btn-sm btn-light" (click)="deleteArticle()">
            <i class="ion-trash-a"></i> Delete Article
          </button>
        </span>
        
        <span [hidden]="canModify">
          <app-favorite-button [article]="article" (toggle)="onToggleFavorite($event)">
            {{ article.favorited ? 'Unfavorite' : 'Favorite' }} Article
            <span class="counter">({{ article.favoritesCount }})</span>
          </app-favorite-button>
        </span>
      </div>
    </div>
  </div>
  <div class="container page">
    <div class="row article-content">
      <div class="col-md-12">
        <div [innerHTML]="article.body"></div>
        <br>
        <ul class="tag-list">
          <li *ngFor="let tag of article.tagList" class="tag-default tag-pill tag-outline">
            {{ tag }}
          </li>
        </ul>
      </div>
    </div>
    <hr />

    <div class="row">
      <div class="col-xs-12 col-md-8 offset-md-2">

        <div *ngIf="isAuthenticated">
          <form class="card comment-form" (ngSubmit)="addComment()">
            <fieldset>
              <div class="card-block">
                <textarea class="form-control" placeholder="Write a comment..." 
                rows="3" [formControl]="comment"></textarea>
              </div>
              <div class="card-footer">
                <img src="{{currentUser.image}}" class="comment-author-img" />
                <button class="btn btn-sm btn-dark" type="submit">
                  Post Comment
                </button>
              </div>
            </fieldset>
          </form>
        </div>

        <div *ngIf="!isAuthenticated">
          <a routerLink="login">Sign in</a> or
          <a routerLink="register">Sign up</a> to add comments on this article.
        </div>

        <app-single-comment 
          *ngFor="let comment of comments"
          [comment] = comment
          (delete)= "deleteComment(comment)">
        </app-single-comment>
      
      </div>
    </div>
  </div>
</div>